@import "../fonts/rubik.scss";
@import "./settings.scss";

html {
  font-size: 62.5%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font-family: "rubik-heb", Helvetica, sans-serif;
  font-weight: 500;
  color: #363636;
  direction: rtl;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;

// Small devices (landscape phones, 576px and up)
@media (max-width: $md+"px") {
  .Item__container {
    font-size: $s-size;
    .MiniItem {
      padding: 6px 0 !important;
    }
    .text-child {
      padding: 8px !important;
    }
    .thumbnail-container {
      height: 50px !important;
      width: 80px !important;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $md+"px") {
  html {
    font-size: 62.5%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $lg+"px") {
  html {
    font-size: 75%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $xl+"px") {
}

:export {
  small: $sm;
  medium: $md;
  large: $lg;
  xlarge: $xl;
}
