@import '../fonts/rubik.scss';

html {
  font-size: 62.5%;
}

body {
  font-family: 'rubik-heb', Helvetica, sans-serif;
  font-size: $body-font;
  font-weight: 500;
  background-color: $body-white;
  color: #363636;
  direction: rtl;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
