@import "../fonts/rubik.scss";
@import "./settings.scss";

html {
  font-size: 55%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font-family: "rubik-heb", Helvetica, sans-serif;
  font-weight: 500;
  color: #363636;
  direction: rtl;
}

button {
  cursor: pointer;
}

input {
  font-size: 80%;
}

*:focus {
  outline: none;
}

button:disabled {
  cursor: default;
}

h4 {
  padding: 0 10px;
  margin-bottom: 10px;
}

$sm: 568;
$md: 768;
$lg: 1024;
$xl: 1280;

@media (min-width: $sm+"px") {
  body {
    .body__content {
      width: 85vw;
    }
  }
  html {
    font-size: 75%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $md+"px") {
  body {
    .ListingPaging {
      font-size: $m-size;
    }
    .body__content {
      .Item__container {
        font-size: $m-size;
        .SpreadItem {
          .thumbnail-container {
            height: 100px;
            width: 160px;
          }
        }
      }
    }
    .ItemLists__lists {
      padding: 0 $l-size;
    }
  }
}

// // Medium devices (tablets, 768px and up)
// @media (min-width: $md+"px") {
//   html {
//     font-size: 62.5%;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: $lg+"px") {
//   html {
//     font-size: 75%;
//   }
// }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $xl+"px") {
}

:export {
  small: $sm;
  medium: $md;
  large: $lg;
  xlarge: $xl;
}
