// Colors
$body-white: #f9f9f9;
$whiter-than-body-white: #ffffff;
$yad2-orange: #ff7100;

$def-color: #363636;
$item-level-1-color: #f4efbe;

$grayish: rgb(229, 229, 229);
$pretty-gray: rgba(0, 0, 0, 0.5);
$faded-attr-gray:rgb(182, 182, 182);
$lightest-gray: rgba(0, 0, 0, 0.1);

$button-green: rgb(15, 202, 128);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;


// Font size
$body-font: $m-size;

// Container heights needed to flush contained textual elements with set padding sizes
$cont-height-s-size-padding: $s-size * 2 + (9/8) * $body-font;
$cont-height-m-size-padding: $m-size * 2 + (9/8) * $body-font;
$cont-height-l-size-padding: $l-size * 2 + (9/8) * $body-font;
$cont-height-xl-size-padding: $xl-size * 2 + (9/8) * $body-font;




