@import "./settings";

.css-0 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  > div {
    background-color: $yad2-orange;
  }
}

.Loader {
  > div {
    @extend .css-0;
  }
}

.inactive-style {
  pointer-events: none;
  opacity: 0.5;
}

@mixin basic-flex($justify: space-between, $direction: row, $which-child-to-stretch: -1) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $direction;
  > div:nth-child(#{$which-child-to-stretch}) {
    flex-grow: 2;
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overflow-container {
  overflow: hidden;
  .overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.chevron-down {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  height: 0.45em;
  width: 0.45em;
  left: 2px;
  position: relative;
  top: -1.5px;
  transform: rotate(135deg);
}

.dropdown-container {
  position: relative;
  cursor: pointer;
  > div:first-of-type {
    width: 100%;
    @include basic-flex;
    padding: $s-size/2;
    border: 1px solid #dbdbdb;
    span {
      @extend .chevron-down;
      margin: 0 $s-size 0 0;
    }
  }
  > div + div {
    position: absolute;
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
    background-color: $whiter-than-body-white;
    z-index: 3;
    > div {
      border-bottom: 1px solid $lightest-gray;
      padding: $s-size/2;
    }
  }
}

.toast {
  direction: rtl !important;
  text-align: right;
  margin: 0 $s-size;
}

.body__content {
  width: 85vw;
  max-width: 900px;
  margin: $l-size auto;
  > * {
    margin: $l-size 0;
    background-color: lighten($body-white, 30%);
    border: 1px solid $lightest-gray;
  }
}
