@import "./settings";

//global PulseLoader class
.css-0 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  > div {
    background-color: $yad2-orange;
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overflow-container {
  overflow: hidden;
  .overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
