@import "./settings";

.css-0 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  > div {
    background-color: $yad2-orange;
  }
}

.Loader {
  > div {
    @extend .css-0;
  }
}

.inactive-style {
  pointer-events: none;
  opacity: 0.5;
}

@mixin basic-flex($justify: space-between, $direction: row, $which-child-to-stretch: -1) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $direction;
  > div:nth-child(#{$which-child-to-stretch}) {
    flex-grow: 2;
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overflow-container {
  overflow: hidden;
  .overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
