@import "../base/settings";

$thumbnailZoomScale: 1.2;
$thumbnailZoomInverse: (1 / $thumbnailZoomScale);

.thumbnail-effects {
  & .thumbnail-container {
    transform: scale($thumbnailZoomScale);
    filter: grayscale(20%);
    background-color: $grayish;
    & .overlay {
      visibility: visible;
    }
    & > div {
      transform: scale($thumbnailZoomInverse);
    }
  }
}
