@import '../../base/settings';

.Item__Footer {
    display: flex;
    font-size: $s-size*0.9;
    padding: $s-size;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid $lightest-gray;
}