@import "../../base/settings";

.Item__container {
  margin: 3px 0;
  > div {
    border-radius: 5px;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.15);
    .SpreadItem .PriceColumn .text-child > div + div {
      opacity: 0;
      transition: opacity 150ms;
    }
    .MiniItem .PriceColumn .text-child > div + div {
      & span {
        display: none;
      }
      &:before {
        content: "לחצו לפרטים";
        color: $yad2-orange;
      }
    }
    .ColumnChild {
      .image {
        transform: scale(1.1);
      }
      .overlay {
        visibility: visible;
      }
    }
  }
}
