@import "../../base/settings";

.Level3 {
  .Level3__attributes {
    padding-top: $s-size/2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > div {
      display: inline;
      flex: 0 24%;
      padding: $s-size/3 0;
      > div {
          padding-right: $s-size/2;
      }
    }
    .faded-pic {
      filter: grayscale(60%);
    }
    .faded-text {
      color: $pretty-gray;
    }
    .Level3__attribute {
        display: flex;
        align-items: center;
    }
  }
}
