@import '../../base/settings';
@import '../../base/utility-classes';

.Level2 {
    .Level2__attributes {
        @include basic-flex;
        flex-wrap: wrap;
        > .Level2Attribute {
        display: inline;
          flex: 0 49%;
          padding: $s-size/3 0;
        }
    }
}