@import "../../base/settings";

.Level3 {
  .Level3__attributes {
    padding: $s-size/2 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > div {
      display: inline;
      flex: 0 24%;
      padding: $s-size/3 0;
      > div {
          padding-right: $s-size/2;
      }
    }  
    .Level3__attribute {
        display: flex;
        align-items: center;
        .faded-pic {
          opacity: 0.5;
        }
        .faded-text {
          color: $faded-attr-gray;
        }
    }
  }
}
