@import "../../base/settings";
@import "../../base/utility-classes";

.Modal {
  @include basic-flex(center, row-reverse);
  background-color: $dark-gray;
  color: $whiter-than-body-white;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0 !important;
  z-index: 2;
  top: 0;
  left: 0;
  .content-container {
    @include basic-flex(center, column);
    max-width: 800px;
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 90%;
    background-color: darken($lightest-gray, 65%);
    .toggle-pics {
      font-size: $xl-size;
      padding: 10px 20px;
      border-radius: 4px;
      &:hover {
        background-color: $def-color;
      }
    }
    .image-child {
      @include basic-flex(space-around, row-reverse, 2);
      width: 90%;
      height: 100%;
      max-width: 750px;
      max-height: 500px;
      .Modal__image-container {
        @include basic-flex(center);
        margin: 0 $s-size;
        > .image {
          max-width: 100%;
          min-width: 200px;
          height: auto;
        }
      }
    }
    .number-child {
      font-size: $m-size;
    }
  }
}
