@import "../../base/settings";

.modal {
  background-color: $pretty-gray;
  color: $whiter-than-body-white;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0 !important;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  > .content-container {
    width: 90%;
    height: 90%;
    max-width: 650px;
    max-height: 500px;
    background-color: darken($lightest-gray, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > .image-child {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      width: 90%;
      height: 90%;
      max-width: 650px;
      max-height: 500px;
      .image-container {
        position: relative;
        background-color: darken($lightest-gray, 60%);
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 $s-size;
        > .image {
          max-width: 100%;
          height: auto;
        }
      }
      > .toggle-pics {
        font-size: $xl-size;
        padding: 10px 20px;
        border-radius: 4px;
        &:hover {
          background-color: $def-color;
        }
      }
    }
    .number-child {
      font-size: $m-size;
    }
  }
}
