@import "../../base/settings";
@import "../../base/utility-classes";

.show-phone-number-button {
  @include basic-flex(center);
  border-radius: 2px;
  padding: $s-size * 0.75;
  color: white;
  border: 0;
  background-color: $button-green;
  img {
    padding-left: 7px;
    filter: invert(100%);
    height: 1.35rem;
    width: 1.35rem;
  }
  &:hover {
    background-color: darken($button-green, 7%);
  }
}
