@import "../../base/settings";

.Item-level2-3 {
  display: flex;
  flex-direction: row-reverse;
  font-size: $s-size;
  .Item-level2-3-ads {
    background-color: $grayish;
    flex: 0 0 30%;
  }
  .Item-level2-3-data {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 0 0 70%;
    > div {
      margin: 0 15px;
      padding: $s-size/2;
      line-height: 1.3;
      border-bottom: 0.5px solid $grayish;
      &:last-of-type {
        border: none;
      }
    }
  }
}
