@import "../../base/settings";
@import "./top-bar-generalities.scss";
@import "../../base/utility-classes";

.SpreadItem {
  @extend .top-bar-factory;
  > div {
    padding: 0;
  }
  .container-of-all-columns-bar-image-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > div {
      flex: 0 49%;
    }
    * {
      border: none;
    }
  }
}
