@import "../../base/settings";

.ColumnChild {
  .thumbnail-container {
    height: 50px;
    width: 80px;
    font-size: $s-size/1.2;
    overflow-wrap: break-word;
    padding: 0;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    .overlay {
      background-color: $lightest-gray;
    }
    .image {
      background-color: $def-color;
      width: 100%;
      height: 100%;
    }
  }
}
