@import "../../base/settings";

@mixin text-child($text-align: center, $subtitle-color: $pretty-gray) {
  & .text-child {
    text-align: $text-align;
    & > div + div {
      font-size: $s-size;
      color: $subtitle-color;
      overflow: ellipse;
    }
  }
}
.column {
  width: auto;
  height: auto;
  display: flex;
  border-width: 0 0.5px;
  border-color: $lightest-gray;
  border-style: solid;
  align-items: center;
  white-space: nowrap;
  & > div {
    padding: $s-size;
  }
}

.top-bar-factory {
  display: flex;
  background-color: $item-level-1-color;
  justify-content: space-between;
  width: 100%;
  .ImageColumn {
    @extend .column;
    border: 0;
  }
  .AddressColumn {
    @extend .column;
    @include text-child(right, $def-color);
    border-right: 0;
    flex-grow: 2;
    overflow: hidden;
  }
  .PriceColumn {
    @extend .column;
    @include text-child(left);
    justify-content: flex-end;
    border-left: 0;
  }
  .StatsColumn {
    @extend .column;
    @include text-child;
  }
}
