@import "~base/settings";
@import "~base/utility-classes";
@import "../form-utilities.scss";

.AddListing__form {
  .step:not(.AddListing__active) {
    display: none;
  }
  .pure-control-group {
    @include basic-flex(flex-start);
    
    .error-message-container {
      width: 60%;
    }
    font-size: $s-size;
    margin: 5px 0;
    width: 90%;
  }
  .AddListing__active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $m-size;
    margin: $s-size;
    width: 90%;
    border-radius: 10px;
    min-height: 250px;
    h5 {
      text-align: center;
      margin: 0;
      margin-bottom: $l-size;
    }
  }
  .AddListing__button {
    user-select: none;
    &.disabled {
      background-color: gray;
      opacity: 0.6;
      pointer-events: none;
    }
  }
  h6 {
    margin: 0;
    color: lighten($def-color, 50%);
  }
}
