@import "~base/settings";
@import "~base/utility-classes";

.AddListing__form {
  .step:not(.AddListing__active) {
    display: none;
  }
  .AddListing__active {
    min-height: 250px;
      h5 {
        text-align: center;
        margin: 0;
        margin-bottom: $m-size;
      } 
  }
  .AddListing__button {
    user-select: none;
    &.disabled {
      background-color: gray;
      opacity: 0.6;
      pointer-events: none;
    }
  }
  h6 {
    margin: 0;
    color: lighten($def-color, 50%);
  }
}
