@import "~base/settings";
@import "~base/utility-classes";
@import "../form-utilities.scss";

.AddListing__form {
  .step:not(.AddListing__active) {
    display: none;
  }
  .AddListing__active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $m-size;
    margin: $s-size;
    background-color: $beige;
    color: $text-for-beige;
    width: 90%;
    border-radius: 10px;
    min-height: 250px;
    h5 {
      text-align: center;
      margin: 0;
      margin-bottom: $s-size;
    }
  }
  .AddListing__button {
    user-select: none;
  }
  h6 {
    margin: 0;
    color: lighten($def-color, 50%);
  }
}

.Type__container {
  @include basic-flex(undefined, column);
  input[type="radio"] {
    display: none;
  }
  .Type__container-radio-group {
    margin-bottom: $m-size;
    width: 95%;
    label {
      user-select: none;
      margin: 1px 0;
      text-align: center;
      background-color: $whiter-than-body-white;
      border: 1px solid $text-for-beige;
      padding: $m-size $s-size;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 3px;
      &.active,
      &:hover {
        border-color: $yad2-orange;
        color: $yad2-orange;
      }
    }
  }
}
