@import "../base/settings";

.Item__container {
  margin: 1px;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.15);
    .thumbnail-container {
      .thumbnail {
        transform: scale(1.05);
      }
      .overlay {
        visibility: visible;
      }
    }
  }
}

// .testing {
//   background-color: red;
//   width: 50%;
//   margin: 0 auto;
// }

// .unfold {
//   max-height: 100px;
//   transition: max-height 0.8s ease-out;
//   background-color: $grayish-on-yad2-orange;
// }

// .folded {
//   display: block;
//   height: auto;
//   max-height: 0;
//   transition: max-height 0.5s ease;
//   white-space: pre-line;
//   overflow: hidden;
// }
