@import "~base/settings";
@import "~base/utility-classes";

.ItemLists__lists {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: $s-size;
}

.ListsContainer__component {
  font-size: $s-size;
  padding: $s-size/2;
  .collapse-button{
    display: block;
    margin: auto;
  }
  > div {
    @include basic-flex(center);
    flex-wrap: wrap;
    > * {
      @include basic-flex;
      > * {
        padding: $s-size/2;
        margin: $s-size/2;
      }
    }
    margin: $s-size 0;
    height: fit-content;
  }
}
