@import "../base/settings";

.MiniItem__container {
  display: flex;
  flex-direction: row-reverse;
  background-color: $item-level-1-color;
  border-radius: 2px;
  border: 1px solid $lightest-gray;
  align-items: stretch;
  overflow: hidden;
}

@mixin column($textAlign: center, $childPadding: $s-size) {
  display: flex;
  flex-direction: row-reverse;
  border-width: 0 0.5px;
  border-color: $lightest-gray;
  border-style: solid;
  align-items: center;
  & > div {
    padding: $childPadding;
    display: table-cell;
    text-align: $textAlign;
  }
}

.RightColumn {
  @include column(right);
  flex-grow: 1;
}

.MiddleColumn {
  @include column();
}

.LeftColumn {
  @include column(left);
  justify-content: flex-end;
  & > div {
    padding-right: $xl-size;
  }
}

.Column__inner-child-subtitle {
  font-size: $s-size;
  color: $pretty-gray;
}

// .thumbnail-container {
//     height: 100px;
// }
