@import "../base/settings";
@import "../base/utility-classes";

.ListingPaging {
  @include basic-flex(space-between, row-reverse, 2);
  position: relative;
  margin: $s-size auto;
  padding: $s-size/2;
  background-color: $whiter-than-body-white;
  border-radius: 20px;
  .page-container {
    @include basic-flex(center);
    padding: 0 $s-size;
    overflow: hidden;
    a {
      @include basic-flex(center);
      padding: $s-size/2;
      width: $m-size;    
    }
    :not(.notTodayMyFriend):hover {
      cursor: pointer;
    }
    .theOne {
      background-color: $yad2-orange;
      border-radius: 4px;
      color: $whiter-than-body-white;
    }
  }
  button {
    border: none;
    border-radius: 10px;
    padding: $s-size/2;
    margin: 0 $s-size;
    background-color: $yad2-orange;
    color: $whiter-than-body-white;
    &:disabled {
      background-color: $lightest-gray;
    }
  }
}
