@import "../base/settings";
@import "../base/utility-classes";

@mixin pill-recs($recOpacity: 0.5) {
  background-color: rgba(246, 244, 241, $recOpacity);
  border-radius: 2px;
}

.Pill {
  @include basic-flex(center);
  border-radius: 15px;
  background-color: rgba(14, 15, 14, 0.5);
  > .Pill__child {
    @include pill-recs;
    > .Pill__child-overlay {
      @include basic-flex(center);
      @include pill-recs(0.9);
      position: relative;
      left: 4px;
      top: 4px;
    }
  }
}
