@import "../base/settings";

@mixin pill-recs($recOpacity: 0.5) {
  background-color: rgba(246, 244, 241, $recOpacity);
  border-radius: 2px;
}

.Pill {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(14, 15, 14, 0.5);
  > .Pill__child {
    @include pill-recs;
    > .Pill__child-overlay {
      @include pill-recs(0.9);
      position: relative;
      left: 4px;
      top: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
