@import "../base/settings";

$thumbnailWidth: 8rem;
$thumbnailHeight: ($thumbnailWidth * 5/8);

.thumbnail-container {
  padding: 0;
  overflow: hidden;
  border-radius: 3px;
  width: $thumbnailWidth;
  height: $thumbnailHeight;
  position: relative;
  & .overlay {
    z-index: 10;
    background-color: rgba(128, 128, 128, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .thumbnail {
    width: 100%;
    height: 100%;
    background-color: $def-color;
  }
}



.loader {
  color:blue;
  display: block;
  margin: 0 auto;
}