@import "~base/utility-classes";
@import "~base/settings";
@import "../../form-utilities.scss";

.gen-form {
  .Address-container {
    @include basic-flex(center, column);
    align-items: center;
  }
  .Address-select {
    .actual-select {
      box-sizing: border-box;
    }
    .actual-dropdown {
      > div {
        padding: 1px;
      }
    }
  }
  .Address-floors {
    @include basic-flex(flex-start);
    .pure-control-group{
      width: fit-content;
      .error-message-container{
        margin: 0;
      }
    }  
  }
}
