@import "~base/utility-classes";
@import "~base/settings";

.PropertyDetails-bool-attr { 
    @include basic-flex(center);
    flex-wrap: wrap;
    padding: 5px 0;
    margin-top: 10px;
    width: 20rem;
}
