@import "~base/settings.scss";
@import "~base/utility-classes";

.PropertyDetails-bool-attr {
    .disclaimer {
        font-size: 1.2rem;
        text-align: right;
    }
    .reset {
        border-radius: 15px;
        display: block;
        margin: 0 auto;
        background-color: $yad2-orange;
        color: $body-white;
        padding: 5px 10px;
        border: none;
    }
}


.description {
    textarea {
        display: block;
        margin: 20px auto 10px auto;
        width: 95%;
        min-height: 150px;
        resize: vertical;
        font-size: $s-size;
        + div {
            font-size: $s-size;
        }
    }
}
