@import "~base/settings";
@import "~base/utility-classes";


.Type__container-radio-group {
  max-width: 350px;
  label {
    display: block;
    user-select: none;
    margin: 1px 0;
    padding: $s-size;
    text-align: center;
    background-color: $whiter-than-body-white;
    border: 1px solid $text-for-beige;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
    &.active,
    &:hover {
      border-color: $yad2-orange;
      color: $yad2-orange;
    }
  }
}
