@import "~base/settings";
@import "~base/utility-classes";
//for variables
@import "purecss-sass/vendor/assets/stylesheets/purecss/_forms.scss";

//override purecss mediarule
@media only screen and (max-width: 480px) {
  .pure-form-aligned .pure-control-group label {
    text-align: right !important;
  }
  .submit-container:not(.AddListing__next-step) {
    justify-content: flex-start !important;
  }
}

.asterisk {
  content: "* ";
  color: red;
}

.gen-form {
  @extend .pure-form;
  @extend .pure-form-aligned;
  @include basic-flex(center, column);
  width: 90%;
  padding: $s-size;
  margin: $m-size;
  font-size: $s-size * 1.2;
  h5 {
    font-size: $m-size;
  }
  h6 {
    margin-top: 0;
    font-size: $s-size;
  }
  label {
    margin-right: 2px !important;
    text-align: right;
  }
  input {
    box-sizing: border-box !important;
    &.eng {
      direction: ltr;
    }
  }
  div[required] {
    label:after {
      @extend .asterisk;
    }
  }
  .actual-select {
    box-sizing: border-box;
  }
  .pure-control-group.NumberInput {
    .error-message-container {
      > input {
        width: 100%;
        min-width: 90px;
      }
    }
  }
}

.submit-container,
.like-submit-container {
  button,
  div {
    cursor: pointer;
    border-radius: 15px;
    border: none;
    padding: $s-size/2;
    background-color: $yad2-orange;
    color: $whiter-than-body-white;
    width: 100px;
  }
  margin: $m-size 0;
}



.fields {
  // background-color: $body-white;
  box-sizing: border-box;
  padding: $m-size;
  border-radius: 10px;
  margin: auto;
  min-width: 150px;
  max-width: 750px;
}

.inner-focus-in-form {
  border: 1px solid $grayish;
  padding: 20px;
  // @include basic-flex(center, column);
  padding-bottom: 10px;
  border-radius: 15px;
  max-width: 450px;
  min-width: 200px;
  margin: 30px auto;
  width: 80%;
  margin-top: 30px;
  box-sizing: border-box;
  h6 {
    color: $def-color;
    font-size: $s-size * 1.15;
  }
  .error-message-container {
    input {
      width: 100%;
    }
    width: 40%;
  }
}
