@import "~base/settings";
@import "~base/utility-classes";
//for variables
@import "purecss-sass/vendor/assets/stylesheets/purecss/_forms.scss";

//override purecss mediarule
@media only screen and (max-width: 500px) {
  .pure-form-aligned .pure-control-group label {
    margin: 3px;
    margin-right: 5px;
    text-align: right;
  }
  .submit-container:not(.AddListing__next-step) {
    justify-content: flex-start !important;
  }
}

.pure-form-aligned .pure-control-group label {
  flex-shrink: 2;
  width: 7rem;
  margin-right: 2px;
  margin-left: 2px;
}
.asterisk {
  content: "* ";
  color: red;
}

.gen-form {
  @extend .pure-form;
  @extend .pure-form-aligned;
  @include basic-flex(center, column);
  width: 500px;
  padding: $s-size;
  margin: $m-size;
  input {
    font-size: $s-size;
    box-sizing: border-box !important;
    &.eng {
      direction: ltr;
    }
  }
  div[required] {
    label:after {
      @extend .asterisk;
    }
  }
}

.submit-container {
  @include basic-flex(center);
  button,
  div {
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    border: none;
    padding: $s-size/2;
    background-color: $yad2-orange;
    color: $whiter-than-body-white;
    width: 100px;
  }
  margin: $m-size 0;
}
