@import "../../base/settings";
@import "../../base/utility-classes";
@import url(https://unpkg.com/purecss@1.0.1/build/forms-min.css);

.Signup__form {
  padding: $s-size;
  margin: $m-size;
  input {
    border: none;
    &[type="email"] {
      direction: ltr;
    }
  }
}

.Signup__submit {    
  button {
    border-radius: 15px; 
    border: none;
    padding: $s-size/2;
    display: block;
    margin: $l-size auto;
    background-color: $yad2-orange;
    color: $whiter-than-body-white;
    width: 100px;
  }
}
