@font-face {
  font-family: "rubiklight";
  src: url("rubik-light-webfont.woff2") format("woff2"), url("rubik-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubikregular";
  src: url("rubik-regular-webfont.woff2") format("woff2"), url("rubik-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubikmedium";
  src: url("rubik-medium-webfont.woff2") format("woff2"), url("rubik-medium-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}


