@import "../../base/settings";
@import "../../base/utility-classes";

.SortBy {
  @include basic-flex;
  > * {
    @include basic-flex;
    > * {
      padding: $s-size/2;
    }
  }
  margin: $s-size 0;
}

.SortBy__button {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  padding: $s-size/2;
  margin-left: $s-size/4;
  &.active {
    color: $yad2-orange;
    border-color: 1px solid $yad2-orange;
  }
}

.SortBy__select-sort-container {
  @extend .dropdown-container;
  flex-grow: 2;
  .actual-select {
    background-color: white;
  }
  .actual-dropdown {
    > div {
      @include basic-flex(flex-start);
      > div {
        padding: $s-size/3;
      }
    }
  }
}

.SortBy__limit {
  padding: $s-size/2 $s-size/4;
  width: $l-size;
  border: 1px solid $grayish;
  form{
    @include basic-flex(undefined,column)
  }
}
