@import "../../base/settings";
@import "../../base/utility-classes";

.SortBy {
  @include basic-flex(flex-start);
  margin: $s-size 0;
  > * {
    margin: 0 $s-size;
    border-radius: 2px;
  }
}

.SortBy__button {
  border-style: solid;
  border-width: 1px;
  padding: $s-size/2;
  margin-left: $s-size/4;
  &.active {
    color: $yad2-orange;
    border-color: 1px solid $yad2-orange;
  }
}

.SortBy__select-sort-container {
  @extend .dropdown-container;
  flex-basis: 30%;
  .actual-select {
    background-color: white;
  }
  .actual-dropdown {
    > div {
      @include basic-flex(flex-start);
      > div {
        padding: $s-size/3;
      }
    }
  }
}
