@import "../../base/settings";
@import "../../base/utility-classes";

.SortBy {
  @include basic-flex(center);
  flex-wrap: wrap;
  > * {
    @include basic-flex;
    > * {
      padding: $s-size/2;
      margin: $s-size/2;
    }
  }
  margin: $s-size 0;
  height: fit-content;
}

.SortBy__limit {
  min-width: 20px;
}

.SortBy__button {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  padding: $s-size/2;
  margin-left: $s-size/4;
  &.active {
    color: $yad2-orange;
    border-color: 1px solid $yad2-orange;
  }
}

.SortBy__limit {
  padding: $s-size/2 $s-size/4;
  width: $l-size;
  border: 1px solid $grayish;
  form {
    @include basic-flex(undefined, column);
  }
}
